#!/bin/bash

if [ -z $TOP_DIR ] ; then
TOP_DIR=/home/pi/code/raspberry-gpio-email/
fi


case "$1" in
	start)
	if [ ! -f /var/lock/control ] 
	then
	  echo "Starting control script"
	  cd  $TOP_DIR
	  sudo $TOP_DIR/start.sh &
	  touch /var/lock/control

	else
	  echo "The script is already running!"
	fi
	;;

	stop)
	  echo "Stopping control script"
	  sudo killall control.py
	  sudo rm -f /var/lock/control
	;;

	*)
	  echo "Usage: /etc/init.d/control start|stop"
	;;

esac
exit 0

