[Email]
WhiteList = jes1510@gmail.com 18653101621
Interval = 30 
Subject = GPIO

# Pinout of GPIO pins
[Hardware]
BackLight = 11
Enable = 21
Output = 10
Lights = 9
Input = 22
LCD_E = 8
LCD_RS = 7
LCD_D4 = 25
LCD_D5 = 24
LCD_D6 = 23
LCD_D7 = 18

[Configuration]
Speak = False
Verbose = False
DisplayTime = 5
WarningTime = 30
Logfile=system
HoldTime=1
Debounce=0.1
TransitTime=60
TempDirectory=/tmp
Camera=/dev/video0
Resolution=384x288
PictureName=controlGrab.png

